.table thead {
    background-color: #FFC107 !important; 
    color: #000000 !important;           
}

.table-bordered thead th {
    border-bottom: 2px solid #e0a800 !important;
    vertical-align: middle;
    text-transform: uppercase; 
    font-size: 0.9rem;
}


.table-hover tbody tr:hover {
    background-color: rgba(255, 193, 7, 0.1) !important;
}